---
import { projects  } from '../../js/proyectos';
import Layout from "../../layouts/Layout.astro";
import Image from "../../components/Image.astro";
import Video from "../../components/Video.astro";

export async function getStaticPaths() {

  return projects?.map((
    { url, title, subtitle, year, videos, images, parrafos }) => {
    return {
      params: { proyecto: url },
      props: { url, title, subtitle, year, videos, images, parrafos},
    };
  });
}

const {
  url,
  title,
  subtitle,
  year,
  videos,
  images,
  parrafos } = Astro.props
---
<Layout title={url}>
  <h1 class="text-center mt-5 font-bold text-xl">[ {title} ]</h1>
  {subtitle !== '' ? <h1 class="text-base text-center">{subtitle}</h1> : null}
  <h1 class="text-center text-gray-400">[ {year} ]</h1>

  <hr class="w-1/2 m-auto my-2">

  {!!videos[0] ? <Video src={videos[0]}/> : null}

  <div class="text-left mb-5 w-full">
    <h3 class="font-bold text-lg">[ abstract ]</h3>
    <div class="text-base">
      {parrafos?.map(parrafo => <p class="my-4">{parrafo}</p>)}
    </div>
  </div>
  <hr class="w-1/2 m-auto my-2">

  {!!videos[1] ? <Video src={videos[1]}/> : null}

  <div class="grid grid-cols-1 gap-1 md:grid-cols-2">
    {images?.map(image => <Image src={`../src/assets/images/${image}`} alt={image}/>)}
  </div>
</Layout>
