---
import LayoutWorks from "../../layouts/LayoutWorks.astro";
import { WORKS } from "../../constants";
const id = 0;

const { title, date, description, year } = WORKS.find((work) => work.id === id);
---

<LayoutWorks title={title}>
  <p class="mt-2">
    <b>{title}</b>, created on {date} of {year}
  </p>
  <p>{description}</p>
</LayoutWorks>

<script>
  import p5 from "p5";
  import { simpleRandomDrawer } from "../../scripts";
  new p5(simpleRandomDrawer, document.getElementById("sketch"));
</script>
