---
import LayoutCv from "../layouts/LayoutCv.astro";
import { Link, FooterButton } from "../components";
import { BIO_CONTENT } from "../constants";
---

<LayoutCv title="cv">
  <h3 class="mt-5 font-bold text-xl">[ Nic Motta ]</h3>

  <h1 class="text-base mt-3">Artista | Docente | Investigador</h1>
  <h1 class="text-gray-400">[ Buenos Aires, Argentina ]</h1>

  <hr class="w-1/4 my-2" />
  <div class="grid grid-cols-2 gap-1 text-sm text-center mt-3 md:grid-cols-4">
    {
      BIO_CONTENT.contact.map((item) => (
        <FooterButton title={item.title} url={item.url} />
      ))
    }
  </div>

  <br />
  <div class="">
    <div class="text-left text-sm">
      <p>
        Licenciado en Artes Visuales <Link
          title="(UNA)"
          url="https://visuales.una.edu.ar/"
        /> y maestrando la Maestría en Tecnologías y Estéticas de las Artes Electrónicas
        <Link title="(UNTREF)" url="https://untref.edu.ar/" />
      </p>
      <br />
      <p>
        Se desarrolla dentro de la programación visual, modelado e impresión 3D
        y el video mapping. Incursionó en el sonido y la electrónica para
        desarrollar interfaces y sensores. Le interesa la relación entre lo
        visual y lo sonoro, encontrar y analizar la geometría de estos universos
        potenciado por un desarrollo electro-digital detras. Actualmente aborda
        la inteligencia artificial y algoritmos para conectar y representar
        diferentes espacios a través del dato numérico.
      </p>
      <br />
      <p>
        Es parte de los grupos artísticos colaborativos:
        <Link title="MURU 7.8" url="https://muru7-8.github.io/" /> y <Link
          title="Transelectronicxs"
          url=""
        />
      </p>
      <br />
      <h3 class="font-bold text-base pb-2">[ premios ]</h3>

      <p>
        Premiado en ArCiTec (2018), el Festival de Videoarte Proyector, España
        (2018). Expuso en Bienalsur 2019 (Buenos Aires / Costa Rica), Fundación
        PROA, Argentina (2020), FACTORS 8.0, Brasil (2021), también en España y
        Colombia. <br /> Bienal de La Habana, Cuba junto a su grupo MURU 7.8 (2021).
      </p>
    </div>

    <!-- <div class="w-full mx-auto pb-5 order-first md:order-3 md:w-3/4">
      <img class="rounded" src="../assets/images/bio.jpg" alt="" />
    </div> -->
  </div>

  <div class="text-left text-sm">
    <hr class="w-1/2 my-4" />
    <h3 class="font-bold text-base pb-2">[ experiencia docente ]</h3>
    <ul>
      {
        BIO_CONTENT.experience.map((item, index) => (
          <li class="py- font-base">
            <b>· {item.title}</b> — {item.subtitle},
            <span class="text-gray-500">{item.year}</span>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="text-left text-sm">
    <hr class="w-1/2 my-4" />
    <h3 class="font-bold text-base pb-2">[ investigación académica ]</h3>
    <ul>
      {
        BIO_CONTENT.investigation.map((item, index) => (
          <li class="py-2 font-base">
            <div>
              <p>
                <b>· {item.title}</b>
              </p>
              <p>— {item.subtitle},</p>
              <span class="text-gray-500">Dirección: {item.director}</span>
            </div>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="text-left text-sm">
    <hr class="w-1/2 my-4" />
    <h3 class="font-bold text-base pb-2">[ estudios ]</h3>
    <ul>
      {
        BIO_CONTENT.education.map((item, index) => (
          <>
            <li class="py- font-base">
              <b>· {item.title}</b> — {item.subtitle},
              <span class="text-gray-500">{item.year}</span>
            </li>
            {index == 1 && <hr class="w-1/2 my-4" />}
          </>
        ))
      }
    </ul>
  </div>
</LayoutCv>
