---
const { title, url, year, subtitle, code, image } = Astro.props;
---

<a href={url}>
  <div class="my-2 h-32 border border-black">
    <img
      class="object-cover h-full w-full"
      src={`../assets/images/portfolio/${image}`}
      alt=""
    />
  </div>

  <div class="mb-8">
    <p class="text-base font-bold md:text-lg">{title}</p>
    <p class="text-sm text-gray-500 md:text-base">
      [{year}] / {subtitle}
    </p>
    {
      code && (
        <a class="" href={code}>
          <p class="text-base font-bold md:text-lg">view source code</p>
        </a>
      )
    }
  </div>
</a>
